---
- name: quickie playbook
  become: true
  hosts: all
  vars:
    usernames
      - billy
      - joe
      - jim
      - bob
  tasks:
    - name: add user
      user: 
        name: "{{ item }}"
      loop: "{{ usernames }}"
